@model IEnumerable<TwilioParty.Models.Prize>

@{
    ViewBag.Title = "Prizes";
}

<h2>@ViewBag.Title</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantity)
        </th>
        <th>
            # of winners
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Users.Count)
            </td>
            <td> 
            @Html.ActionLink(
                "Delete",
                "Delete",
                new { id = item.PrizeId },
                new { onclick = "return confirm('Delete the prize?');" })
            </td>
        </tr>
    }
    <tr>@Html.ActionLink("Add new prize", "Add", "Prize")</tr>
</table>